[run]
omit =
    docs/*
    *__init__*
relative_files = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    except ImportError
    def __len__
    def __repr__
