.DS_Store
*.pyc
*.o
*.so
*.png
*.gif
dist
*.egg-info
.syntastic_c_config
.syntastic_cpp_config
build
.coverage
*.cpp
george/kernels.py
george/kerneldefs.pxd
george/include/kernels.h
kernels/MyLocalGaussian.yml
