.DS_Store
*.pyc
*.o
*.so
*.png
*.gif
dist
*.egg-info
.syntastic_c_config
.syntastic_cpp_config
build
*.cpp
.coverage
george/kernels.py
george/kerneldefs.pxd
george/solvers/kerneldefs.pxd
george/include/george/kernels.h
kernels/MyLocalGaussian.yml
